<div class="container">

<% if @books.all.count == 0 %>
<h4 style="font-family:'HelveticaNeue-Light'">Ooh, so empty here...</h4>
<h4 style="font-family:'HelveticaNeue-Light'">start adding books now</h4>
<%else%>
<h4 style="font-family:'HelveticaNeue-Light'">Just reminding what you wanted to read.</h4>
<%end%>
<br>
<br>
<br>
<!-- SORT button -->
<% if @books.all.count > 2 %>
<form action='/books' method="get">
  <input type="hidden" name="sort_books" value="<%= @books_sorted == true ? 'false' : 'true' %>">
  <button  class="btn btn-sort" type="submit">unread first</button>
</form>
<%end%>

<% @books.each.with_index(1) do |book, index| %>
<div class="row">
  <div class="col-sm-5">
    <h4 class="name-text" <%= "style='text-decoration: line-through;'" if book.have_read %>> <%= index %>. <%= book.name.capitalize %> </h4>
  </div>

  <div class="col-sm-4">
    <!-- EDIT button -->
    <form  action="/books/<%= book.id%>/edit" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <input class="btn btn-edit" type ="text" name="name" placeholder="edit">
    </form>
  </div>

  <div class="col-sm-2">
    <!-- mark as READ -->
    <form action="/books/<%= book.id%>/have_read" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <input class='btn btn-success'  type="submit" onclick="this.form.submit();" value="mark as <%= 'un' if book.have_read %>read">
    </form>
  </div>
  
  <div class="col-sm-1">
    <!-- DELETE button -->
    <form action="/books/<%= book.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-trash"></span> 
    </form>
  </div>
</div>

<%end%>

<br>
<br>
<br>

  <form action="/books" method="POST">
  <input type="text" name="name" class="btn btn-add" placeholder="Add New Book">
  </form>

</div>
 

